# Compiled Python
__pycache__/
*.pyc

# Build and distribution artefacts
*.egg-info/
dist/
build/

# Test artefacts
.tox/
.coverage
tests/data/output/

# Cookiecutter template artefacts
generated-cookiecutter-git/
